*{
    box-sizing: border-box;
    width: 375px;
}

body{
    background-color: #F3F3F3;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
    margin-bottom: 26px;
}

header img{
    width: 75px;
    height: 53px;
}

header ion-icon{
    width: 42px;
    font-size: 50px;
}

.entrou{
    display: flex;
    align-items: center;
    padding: 0 5px;
    background-color: #DCDCDC;
    width: 375px;
    height: 63px;
    display: flex;
    align-items: center;
    line-height: 16px;
    margin-bottom: 5px;
    border-radius: 2px;
}


section{
    width: auto;
    margin-bottom: 85px;
}

.normal{
    display: flex;
    align-items: center;
    padding: 0 5px;
    background-color: #FFFFFF ;
    width: 375px;
    height: 63px;
    line-height: 16px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.reservada{
    display: flex;
    align-items: center;
    padding: 0 5px;
    background-color: #FFDEDE;
    width: 375px;
    height: 63px;
    line-height: 20px;
    margin-bottom: 5px;
    border-radius: 2px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

time{
    color: #AAAAAA;
}

strong{
    font-weight: 700;
}

footer{
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ion-icon{
    width: 26px;
    height: 26px;
    z-index: 2;
}



input{
    height: 80px;
    border: 0 none;
    outline: none;
}

input:focus{
    outline: 0;
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: #000000;
}


aside{
    position: fixed;
    background-color: #F3F3F3;
    top: 0;
    right: 0;
    width: 259px;
    height: 100%;
    z-index: 10;
}

.menu{
    width: 259px;
    height: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.menu h1{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
    width: 170px;
    text-align: center;
}

.contatos{
    height: 300px;
    overflow-y: scroll;
}

.todos{
    display: flex;
    padding: 10px 15px;
}

.todos ion-icon{
    width: 23px;
    font-size: 20px;
}

.todos p{
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 7.78px;
    color: #000000;
}

.usuario{
    display: flex;
    padding: 10px 15px;
}

.usuario ion-icon{
    width: 23px;
    font-size: 20px;
}

.usuario p{
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 7.78px;
    color: #000000;
}

.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 259px;
    height: 66px;
}

.txt h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}

.visibilidade{
    display: flex;
    padding: 10px 15px;
}

.visibilidade ion-icon{
    width: 23px;
    font-size: 20px;
}

.visibilidade p{
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    margin-left: 7.78px;
    line-height: 18.75px;
}

.escondido{
    display: none;
}

.checked{
    width: 9px;
}

.checked ion-icon{
    /* width: 9px;
    height: 7px; */
    font-size: 15px;
    color: #28BB25;
}

.checked-contatos{
    width: 9px;
}

.checked-contatos ion-icon{
    font-size: 15px;
    color: #28BB25;
}